<% javascript 'types.js' %>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <h1>Type</h1>
        </div>
        <div class="col-xs-3 col-xs-offset-5">
            <div class="btn btn-primary">
                <div url=<%= types_path %> class="types-back">Back</div>
            </div>
        </div>
        <div class="col-xs-3 col-xs-offset-5">
            <%= react_component('ExitLightboxBtn') %>
        </div>
    </div>
</div>
<%= render 'edit_form' %>
