<%= react_component('Lightbox') %>
<div class="container">
	<div class="card-content">
		<div class="card-form">
			<%= render 'form' %>
		</div>
		<div class="card-view">
			<%= render partial: 'shared/card', locals: { card: @card, lastClass: '' } %>
		</div>
	</div>
</div>