<%= react_component('Lightbox') %>
<div class="container">
	<div class="row">
		<div class="col-sm-3 col-sm-push-6">
			<%= render partial: 'shared/card', locals: { card: @card, lastClass: '' } %>
		</div>
		<div class="col-sm-6 col-sm-pull-3">
			<%= render 'form' %>
		</div>
	</div>
</div>