<div class="row">
  <div class="col-sm-3">
    <div class="field form-group">
      <%= f.label :attack, "Power" %><br>
      <%= f.number_field :attack, class: "form-control" %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="field form-group">
      <%= f.label :defense, "Toughness" %><br>
      <%= f.number_field :defense, class: "form-control" %>
    </div>
  </div>
</div>