/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
/* media query */
@mixin mobile {
    @media (max-width: 700px) {
        @content;
    }
}

@mixin mini {
    @media (max-width: 500px) {
        @content;
    }
}

body {
    background-color: rgb(233, 233, 233);
}

h3 {
    margin: 0;
}

.main-container {
    margin-top: $header_height + 25px;
}

.small-padding {
    padding-left: 5px;
    padding-right: 5px;
    &:first-child {
        padding-left: 15px;
    }

    &:last-child {
        padding-right: 15px;
    }
}

.spinner {
    $duration: 1000ms;
    -webkit-animation-name: spin;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: $duration;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: $duration;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
}
/* bootstrap */
$light-navy: #5D6884;
$medium-navy: #424F6F;

.btn-primary {
    background: $light-navy;
    border-color: $light-navy;
    color: #ffffff;
    &:hover {
        background: $medium-navy;
        border-color: $medium-navy;
    }
    &:visited {
        color: #ffffff;
    }
}

.btn-primary a {
    @extend .btn-primary;
    text-decoration: none;
    background: inherit;
}

.btn-cancel {
    background: #AA3939;
    border-color: #AA3939;
    color: #ffffff;
    &:hover {
        background: #801515;
        border-color: #801515;
    }
}
/* backdrop */
@mixin backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
}
@mixin lightbox{
    background: #ffffff;
    z-index: 51;

    position: fixed;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 60%;
    @include mobile {
        left: 14%;
        width: 72%;
    }
    @include mini {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #444444;
}

.medium-glyph {
    font-size: 2.2em;
}

.small-glyph {
    font-size: 1em;
}

.ok {
    padding-left: 2px;
}

.backdrop{
    @include backdrop;
    opacity: 0;
    display: none;
}

.backdrop-active{
    @include backdrop;
    opacity: 0.5;
    display: block;
    z-index: 50;
}

.lightbox{
    @include lightbox;
    opacity: 0;
    display: none;
}
.lightbox-active{
    @include lightbox;
    opacity: 1;
    display: block;
    overflow: scroll;
}

@mixin fade ($duration) {
    transition: opacity $duration ease-out;
    -webkit-transition: opacity $duration ease-out;
    -moz-transition: opacity $duration ease-out;
}
/* Error and Success */
@mixin messageText($color) {
    font-size: 16px;
    color: $color;
}

@mixin messageContainer($backgroundColor) {
    width: 50%;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 5px 8px 5px 8px;
    background-color: $backgroundColor
}
.error-explanation {
    @include messageContainer(#F5D9B3);
    .error-notice {
        color: #AE030F;
        font-size: 18px;
    }

    .error {
        margin-top: 5px;
        @include messageText(#AE4B50);
    }
}

.success-msg {
    @include messageContainer(#679359);
    @include messageText(#124A00);
}