/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
$light-navy: #5D6884;
$medium-navy: #424F6F;
/* bootstrap */
.btn-primary {
    background: $light-navy;
    border-color: $light-navy;
    color: #ffffff;
}
.btn-primary:hover{
    background: $medium-navy;
    border-color: $medium-navy;
}
/* backdrop */
@mixin backdrop{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
}
@mixin lightbox{
    background: #ffffff;
    z-index: 51;

    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 60%;
    
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #444444;
}
.medium-glyph{
    font-size: 2.2em;
}

.backdrop{
    @include backdrop;
    opacity: 0;
    display: none;
}
.backdrop-active{
    @include backdrop;
    opacity: 0.5;
    display: block;
    z-index: 50;
}
.lightbox{
    @include lightbox;
    opacity: 0;
    display: none;
}
.lightbox-active{
    @include lightbox;
    opacity: 1;
    display: block;
}