// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$card_width: 375px;
$card_height: 525px;

$art_width: 310px;
$art_height: 228px;
$art_left_align: 32px;

$ad_width_ratio: 10.6/63.0;
$ad_left_ratio: 285.58/375;
$ad_bottom_ratio: 72.6/525;
$desc_height_ratio: 23.3/95.4;

$text_left_align: 36.3px;

@font-face {
	font-family: 'matrixb'; /*a name to be used later*/
    	src: url('/fonts/matrixb.ttf'); /*URL to font*/
}
@font-face{
	font-family: 'matrix-bold';
	src: url('/fonts/matrix-bold.ttf'); 
}
@font-face{
	font-family: 'mplantin';
	src: url('/fonts/mplantin.ttf');
}
@font-face{
	font-family: 'beleren-bold';
	src: url('/fonts/beleren-bold.ttf');
}
@font-face{
	font-family: 'belerensmallcaps-bold';
	src: url('/fonts/belerensmallcaps-bold.ttf');
}
@font-face{
	font-family: 'keyrune';
	src: url('/fonts/keyrune.ttf');
}
@mixin manaFont{
	font-family: 'mplantin';
	font-weight: bold;
}

@mixin smallSymbol($w){
	width: $w;
	height: auto;
}
//for [0, 9]
.smallManaText{
	font-size: 1.3em;
	transform: translate(-60%, -2px);//5*0.8*0.5
	@include manaFont;
}
.largeManaText{
    font-size: 1.1em;
    transform: translate(-15%, 2%);
    @include manaFont;
}

.type_name_text{
	font-family: 'beleren-bold';
	color: #000;
}
#card_desc_input{
	width:$art_width - 7px; //save some room in right
	height: $desc_height_ratio * $card_height;
	font-family: 'mplantin';
	font-size: 1.1em;
	color: #000;
	text-overflow: ellipsis;
	overflow: hidden;
	word-wrap: break-word;
}
.mana_cost_list{
	img{
		@include smallSymbol(24px)
	}
}
.insertable_symbol{
	@include smallSymbol(24px)
}
.embedded_mana_symbol{
	@include smallSymbol(16px)
}
.card_container{
	position:relative;
	.card_frame{
		width: $card_width;
	}
	.card_desc{
		position: absolute;
		left: $text_left_align;
		top: 330px;

		width:$art_width - 7px; //save some room in right
		height: $desc_height_ratio * $card_height;
		font-family: 'mplantin';
		font-size: 1.1em;
		color: #000;
		text-overflow: ellipsis;
		overflow: hidden;
		word-wrap: break-word;
	}
	.mana_symbols_container{
		position: absolute;
		top: 33px;
		left: $art_left_align;
		width: $art_width;
	}
	.mana_symbol{
		position: absolute;
		width: 19px;
		height: auto;
	}
	.symbol_number{
		position: absolute;
	}
	.type_subtype{
		position:absolute;
		left: $text_left_align;
		bottom: 241px;
		font-size: 1.15em;
	}
	.card_art_container{
		background-size: cover;
		background-position: center;
		width: $art_width;
		height: $art_height;
		position: absolute;
		top: 63px;
		left: $art_left_align;
	}
	.card_name{
		font-size: 1.4em;
		font-weight:bold;
		position: absolute;
		top: 30px;
		left: $text_left_align;
	}
	.attack_defense{
		font-size: 2em;
		font-family: 'matrix-bold';
		color: #000;
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -40%);
	}
	.attack_defense_box{
		display: block;
	}
	.attack_defense_container{
		position:relative;
		width: $ad_width_ratio * $card_width;
		height: auto;
		left: $ad_left_ratio* $card_width;
		bottom: $ad_bottom_ratio * $card_height;
		//text-align:center;
		.attack_defense_box{
			width: inherit;
			height: auto;
		}
	}
}

