// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card_container{
	position:relative;
	margin-left: 50px;
	.card_art_container{
		background-size: cover;
		background-position: center;
		width:314px;
		height:230px;
		position: absolute;
		top: 60px;
		left: 30px;
		.card_art{
			
		}
	}
}

