// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$card_width: 375px;
$card_height: 525px;

$art_width: 310px;
$art_height: 228px;
$art_left_align: 32px;

$ad_width_ratio: 10.6/63.0;
$ad_left_ratio: 285.58/375;
$ad_bottom_ratio: 72.6/525;
$desc_height_ratio: 23.3/95.4;

$text_left_align: 36.3px;

@import "fonts";
@mixin manaFont{
	font-family: 'mplantin';
	font-weight: bold;
}

@mixin smallSymbol($w){
	width: $w;
	height: auto;
}

.type_name_text{
	font-family: 'beleren-bold';
	color: #000;
}

#card_desc_input{
	width:$art_width - 7px; //save some room in right
	height: $desc_height_ratio * $card_height;
	font-family: 'mplantin';
	font-size: 1.1em;
	color: #000;
	text-overflow: ellipsis;
	overflow: hidden;
	word-wrap: break-word;
}
.mana_cost_list{
	img{
		@include smallSymbol(24px);
	}
}

.insertable_symbol{
	@include smallSymbol(24px);
}

.embedded_mana_symbol{
	@include smallSymbol(16px);
}

$max-symbols: 15;
@mixin manaSymbols($scale: 1.0) {
	@for $i from 0 through $max-symbols - 1 {
		.symbol-number-#{$i} {
			position: absolute;
			right: $i * 21px * $scale;
		}
  	}
}

@mixin card($scale: 1.0) {
	position:relative;
	flex: 1;
    margin-right: auto;
    margin-left: auto;
    @include manaSymbols($scale);

	.card_frame{
		width: $card_width * $scale;
		box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px 2px;
		border-radius: 19px;
	}

	.card_desc{
		position: absolute;
		left: $text_left_align * $scale;
		top: 330px * $scale;

		width: $scale * ($art_width - 7px); //save some room in right
		height: $scale * $desc_height_ratio * $card_height;
		font-family: 'mplantin';
		font-size: 1.1em * $scale;
		color: #000;
		text-overflow: ellipsis;
		overflow: hidden;
		word-wrap: break-word;
	}
	.mana_symbols_container{
		position: absolute;
		top: 33px * $scale;
		left: $art_left_align * $scale;
		width: $art_width * $scale;
	}

	.mana_symbol{
		position: absolute;
		width: 19px * $scale;
		height: auto;
	}
	//for [0, 9]
	.smallManaText{
		font-size: 1.3em * $scale;
		transform: translate(-60%, -2px);//5*0.8*0.5
		@include manaFont;
	}

	.largeManaText{
	    font-size: 1.1em * $scale;
	    transform: translate(-15%, 2%);
	    @include manaFont;
	}

	.type_subtype{
		position:absolute;
		left: $text_left_align * $scale;
		bottom: 241px * $scale;
		font-size: 1.15em * $scale;
	}
	.card_art_container{
		background-size: cover;
		background-position: center;
		width: $art_width * $scale;
		height: $art_height * $scale;
		position: absolute;
		top: 63px * $scale;
		left: $art_left_align * $scale;
	}
	.card_name{
		font-size: 1.4em * $scale;
		font-weight: bold;
		position: absolute;
		top: 30px * $scale;
		left: $text_left_align * $scale;
	}
	.attack_defense{
		font-size: 2em * $scale;
		font-family: 'matrix-bold';
		color: #000;
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -40%);
	}
	.attack_defense_box{
		display: block;
	}
	.attack_defense_container{
		position:relative;
		width: $ad_width_ratio * $card_width * $scale;
		height: auto;
		left: $ad_left_ratio* $card_width * $scale;
		bottom: $ad_bottom_ratio * $card_height * $scale;
		.attack_defense_box{
			width: inherit;
			height: auto;
		}
	}
}

$card-column-width: 605px;
$card-small-scale: 0.7;
$flex-to-window-width: 0.9;

.cards-all {
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 932px) {
    	max-width: 572px;
    }

    @media (max-width: $card-column-width) {
    	flex-direction: column;
		justify-content: center;
	}

	.new-card-container {
		flex: 1;
		min-width: $card_width * $card-small-scale;
		margin: 0 auto;
	}

    .card_container {
		flex: 1;
		$per-card-width: $card_width * $card-small-scale / $flex-to-window-width;
		
		@media (max-width: $card-column-width) {
			@include card(1);
		    margin-right: auto;
		    margin-left: auto;
		}

		@media (min-width: $card-column-width) {
			@include card($card-small-scale);
			.card_frame {
				border-radius: 13px;
			}

			@media (min-width: $per-card-width * 3) and (max-width: $per-card-width * 4) {
				&.last-3-2 {
					flex: 2;
				}
			}

			@media (min-width: $per-card-width * 4) {
				&.last-4-2 {
					flex: 3;
				}

				&.last-4-3 {
					flex: 2;
				}
			}
		}
	}
}