@font-face {
	font-family: 'matrixb'; /*a name to be used later*/
    	src: url('/fonts/matrixb.ttf'); /*URL to font*/
}
@font-face{
	font-family: 'matrix-bold';
	src: url('/fonts/matrix-bold.ttf'); 
}
@font-face{
	font-family: 'mplantin';
	src: url('/fonts/mplantin.ttf');
}
@font-face{
	font-family: 'beleren-bold';
	src: url('/fonts/beleren-bold.ttf');
}
@font-face{
	font-family: 'belerensmallcaps-bold';
	src: url('/fonts/belerensmallcaps-bold.ttf');
}
@font-face{
	font-family: 'keyrune';
	src: url('/fonts/keyrune.ttf');
}