@import "variables";
@import "fonts";

.header {
	background: white;
    width: 100%;
    height: $header-height;
    position: fixed;
    top: 0;
    z-index: 20;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    display: flex;
    align-items: center;
    @media (max-width: $header-width-small-screen) {
		height: $header-height-small-screen;
	}

    .notice {
        background: #3E9667;
        color: white;
        font-size: 18px;
        width: 350px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 3px;
    }

    .gutter {
        flex: 1;
    }

    .header-row {
    	display: flex;
    	flex-direction: row;
	    @media (max-width: $header-width-small-screen) {
			flex-direction: column;
            .auth-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
		}
        
    	.auth {
    		display: inline-flex;
            min-width: 80px;
            max-width: 80px;
            @media (max-width: $header-width-small-screen) {
        		margin: auto;
                min-width: 314px;   
                max-width: 314px;
            }
            
            a {
                margin: auto;
            }

			&.sign-in {
                flex-basis: 100%;
                @media (min-width: $header-width-small-screen) {
                    margin-right: 10px;
                }
			}
    	}
    }

    .action-bar {
        display: flex;
        @media (max-width: $header-width-small-screen) {
            margin: auto;
            margin-top: 10px;
        }
    }

    .arrow {
        @media (max-width: $header-width-small-screen) {
            display: none;
        }
    }

    .action-picker {
        background: #eeeef1;
        width: 200px;
        height: 34px;
        padding-left: 10px;
        margin: auto;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-right: none;

        @media (max-width: $header-width-small-screen) {
            width: 270px;
        }
    }

    .action-dropdown {
        margin: auto;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
        height: 34px;
        font-size: 15px;
        width: 44px;
        text-align: center;
        padding-top: 7px;
    }

    .main-title {
        min-width: 216px;
        max-width: 500px;
        
        @media (max-width: $header-width-small-screen) {
            text-align: center;
        }
    }

    .subtitle {
        color: #606f8e;
        font-size: 22px;
        padding-top: 5px;
        margin: auto;
        margin-right: 12px;
    }

    h3 {
 		flex: 1;
        color: #2a3757;
 		font-family: 'cardinal';
 		font-size: 28px;
 		margin-top: 4px;
 	}
}